<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task List</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <h1>Task Manager</h1>
    </header>
    <main>
        <a href="{% url 'task_create' %}" class="button">Create New Task</a>
        <ul class="task-list">
            {% for task in tasks %}
                <li class="task-item">
                    <div>
                        {{ task.title }}
                        <span class="status-box {% if task.status == 'PENDING' %}status-pending{% elif task.status == 'IN PROGRESS' %}status-progress{% elif task.status == 'COMPLETED' %}status-completed{% endif %}">
                            {{ task.status }}
                        </span>
                    </div>
                    <div class="task-actions">
                        <a href="{% url 'task_update' task.id %}" class="button">Edit</a>
                        <a href="{% url 'task_delete' task.id %}" class="button">Delete</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </main>
</body>
</html>
